/*in zunkunft mehr an app anpassen? (abgerundet und neutraler)*/
.timetable-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timetable {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.timetable th,
.timetable td {
    padding: 4px 8px;
    text-align: center;
    border: 1px solid #000000;
}

.event-column {
    width: 16%;
}

.clickable-timeSlot {
    border: 1px solid #000000;
    height: 50px;
    width: 20%;
    cursor: pointer;
}

.clickable-timeSlot:hover {
    background-color: #f5f5f5;
}

.day-separator {
    height: 12px;
    background-color: #f0f0f0;
}
