.timetable {
    border-collapse: collapse;
    width: 100%;
}

.timetable th,
.timetable td {
    padding: 4px 8px;
    text-align: center;
}

.timetable th:first-child,
.timetable td:first-child {
    width: 10px;
}

.timetable th:nth-child(2),
.timetable td:nth-child(2) {
    width: 80px;
}

.clickable-timeSlot {
    border: 1px solid #000000;
    min-width: 10px;
    height: 80px;
    cursor: pointer;
}

.clickable-timeSlot:hover {
    background-color: #f5f5f5;
}

.day-separator {
    height: 12px;
    background-color: #f0f0f0;
}
