.timetable-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timetable {
    border-collapse: collapse;
    width: 80%; /* Adjust the width as needed */
    margin-top: 20px;
}

.timetable th,
.timetable td {
    padding: 4px 8px;
    text-align: center;
    border: 1px solid #000000; /* Add border to all cells */
}

.day-column {
    width: 60px;
}

.time-column {
    width: 50px;
}

.event-column {
    width: 50px;
}

.clickable-timeSlot {
    border: 1px solid #000000;
    height: 12px;
    cursor: pointer;
}

.clickable-timeSlot:hover {
    background-color: #f5f5f5;
}

.day-separator {
    height: 12px;
    background-color: #f0f0f0;
}
